---
---

<section id="contact" class="my-12">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row justify-between items-center cursor-pointer">
            <img class="w-16" src="/favicon.svg" alt="logo" data-aos="fade-right" />
            <h2 class="text-3xl font-medium text-[#7f5539]" data-aos="fade-right" data-aos-duration="1000">Coffee<span class="text-[#b08968]">Hub</span></h2>
        </div>
        <div class="flex flex-row justify-between">
            <ul class="flex flex-col justify-between">
                <li data-aos="fade-down" data-aos-duration="800"><a class="text-[#7f5539] hover:text-[#b08968] duration-500" href="#about">About Us</a></li>
                <li data-aos="fade-down" data-aos-duration="1000"><a class="text-[#7f5539] hover:text-[#b08968] duration-500" href="#store">Products</a></li>
                <li data-aos="fade-down" data-aos-duration="1200"><a class="text-[#7f5539] hover:text-[#b08968] duration-500" href="/#store">Prices</a></li>
            </ul>
        </div>
        <div class="flex flex-row justify-between">
            <ul>
                <li data-aos="fade-left" data-aos-duration="800"><a class="text-[#7f5539] hover:text-[#b08968] duration-500" href="/">Our Team</a></li>
                <li data-aos="fade-down" data-aos-duration="1000"><a class="text-[#7f5539] hover:text-[#b08968] duration-500" href="/">Support</a></li>
            </ul>
        </div>
    </div>
</section>
<p class="text-center text-xs text-[#7f5539] mb-1">&copy; All CopyRight Reserve to SolomDev00</p>