---
import Button from "../components/schema/Button.astro";
---

<section class="flex flex-row justify-between mt-14">
    <div class="flex flex-col items-start justify-between">
        <h2 class="text-sxl font-medium text-[#7f5539]">Starting of your
            <br /> day can be tough, <br /> Why not start your <br /> day with us!</h2>
        <div class="flex flex-row items-center justify-between gap-5">
            <Button title="Shop Now" bgColor='#7f5539' color="#ffffff" />
            <Button title="Learn more" bgColor='transparent' color="#876045" />
        </div>
    </div>
    <div class="mt-3">
        <img src="/assets/drinks.png" alt="coffee" />
    </div>
</section>