---
import Card from "../components/Card.astro";
---

<section id="store" class="flex flex-col">
    <h2 class="text-[#7f5539] text-4xl text-center mb-8" data-aos="fade-up">Today's Special</h2>
    <div class="w-full flex flex-row space-between flex-wrap gap-x-28">
        <Card />
    </div>
</section>